@font-face {
  font-family: Trolatext;
  src: url('../fonts/TrolaText-Light.woff2') format("woff2"), url('../fonts/TrolaText-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Trolatext;
  src: url('../fonts/TrolaText-Bold.woff2') format("woff2"), url('../fonts/TrolaText-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Scubaoffc;
  src: url('../fonts/ScubaOffc-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Scubaoffc;
  src: url('../fonts/ScubaOffc-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Scubaoffc;
  src: url('../fonts/ScubaOffc-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Scubaoffc;
  src: url('../fonts/ScubaOffc-MediumItalic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary: #1f314a;
  --secondary: #708daf;
  --white: white;
  --black: black;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

body {
  color: #1a1b1f;
  font-family: Scubaoffc, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Trolatext, Georgia, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 110%;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Trolatext, Georgia, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Trolatext, Georgia, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Trolatext, Georgia, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Trolatext, Georgia, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Trolatext, Georgia, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #1a1b1f;
  text-decoration: underline;
  transition: opacity .2s;
  display: block;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

figure {
  width: 100%;
  margin-top: 0;
  padding-bottom: 0;
}

figcaption {
  opacity: .6;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  line-height: 26px;
}

.container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container.aligncenter {
  justify-content: flex-start;
  align-items: center;
}

.heading-jumbo {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-light {
  opacity: .6;
}

.section {
  padding: 50px 30px;
}

.section.cc-contact {
  background-color: #f4f4f4;
  padding-left: 80px;
  padding-right: 80px;
}

.section.bggradientcolor {
  color: #fff;
  background-color: #000;
  background-image: none;
}

.section.insights {
  padding-top: 0;
}

.section.general-section {
  background-color: #1f314a1a;
}

.primary-button {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 0;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color .4s, opacity .4s, color .4s;
  display: flex;
}

.primary-button:hover {
  color: #fff;
  background-color: #586f8f;
}

.primary-button:active {
  background-color: #43464d;
}

.primary-button.cc-white-button {
  color: #202020;
  background-color: #fff;
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.primary-button.cc-white-button:hover {
  background-color: #fffc;
}

.primary-button.cc-white-button:active {
  background-color: #ffffffe6;
}

.paragraph-bigger {
  opacity: 1;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.paragraph-bigger.cc-bigger-light {
  opacity: .6;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: .8;
}

.logo-link:active {
  opacity: .7;
}

.navigation-item {
  opacity: 1;
  color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
}

.navigation-item:hover {
  opacity: .9;
}

.navigation-item:active {
  opacity: .8;
}

.navigation-item.w--current {
  opacity: 1;
  text-decoration: none;
}

.navigation-item.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: .7;
  color: #32343a;
}

.navigation-items {
  flex-flow: wrap;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1120px;
  display: flex;
}

.navigation {
  background-color: #0000;
  align-items: center;
  padding: 30px 50px;
  display: flex;
}

.logo-image {
  display: block;
}

.navigation-wrap {
  align-items: center;
  margin-right: -20px;
  display: flex;
}

.carrer-headline-wrap {
  width: 70%;
  margin-bottom: 24px;
}

.text-field {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 21px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active, .text-field:focus {
  border-color: #43464d;
}

.text-field::placeholder {
  color: #32343a66;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.status-message {
  color: #fff;
  text-align: center;
  background-color: #202020;
  padding: 9px 30px;
  font-size: 14px;
  line-height: 26px;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.contact-headline {
  width: 70%;
  margin-bottom: 40px;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.contact-form-wrap {
  width: 70%;
}

.footer-wrap {
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  display: flex;
}

.webflow-link {
  opacity: .5;
  text-transform: uppercase;
  align-items: center;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: .8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.footer-links {
  align-items: center;
  margin-right: -20px;
  display: flex;
}

.footer-item {
  opacity: .6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

.footer-item:hover {
  opacity: .9;
}

.footer-item:active {
  opacity: .8;
}

.utility-page-wrap {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding: 30px;
  display: flex;
}

._404-wrap {
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  text-align: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
}

.protected-form {
  flex-direction: column;
  display: flex;
}

.protected-heading {
  margin-bottom: 30px;
}

.grid-layout {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-layout.desktop-4-column {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-layout.desktop-4-column.tablet-2-column.mobile-landscape-1-column.grid-gap-s {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-layout.desktop-4-column.tablet-2-column.mobile-landscape-1-column.grid-gap-s.insightsgrid {
  flex-flow: wrap;
  grid-template-rows: auto auto;
  justify-content: center;
  place-items: stretch center;
  display: flex;
}

.grid-layout.grid-gap-s {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.utility-link-content-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid #e8e8ea;
  border-radius: 12px;
  flex-flow: column;
  flex: 1 0 32%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  text-decoration: none;
  display: flex;
}

.utility-aspect-3x2 {
  aspect-ratio: 3 / 2;
  width: 100%;
}

.utility-image-cover {
  object-fit: cover;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  position: relative;
  inset: 0%;
}

.utility-image-cover.cover-align {
  object-fit: cover;
  object-position: top center;
}

.paragraph-s {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 120%;
}

.utility-margin-bottom-0 {
  margin-bottom: 0;
}

.navigationstyle {
  grid-row-gap: 10px;
  color: #fff;
  background-image: linear-gradient(270deg, #1d2f47, #4773ad);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.header-style {
  grid-row-gap: 18px;
  border: 1px solid #708daf80;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  padding-left: 64px;
  padding-right: 64px;
  text-decoration: none;
  display: flex;
  box-shadow: 3px 6px 14px #0000001a;
}

.header-style.navigationstyle {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-radius: 0;
  padding-top: 0;
}

.frame-1000001740 {
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
}

.text-3 {
  color: #ffffff80;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.frame-1000001878 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
  display: flex;
}

.group-8 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: flex;
}

.nav-item-base {
  grid-column-gap: 8px;
  border-radius: 6px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
  overflow: visible;
}

.nav-item-base.w--current {
  background-color: #00000026;
}

.content-style {
  grid-column-gap: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.navlinktext {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Scubaoffc, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
  text-decoration: none;
}

.icon-set {
  object-fit: cover;
  overflow: hidden;
}

.image {
  flex: 0 auto;
  width: 130px;
}

.hero-intro {
  color: #000;
  background-color: #efefef;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.hero-intro:hover {
  color: #6b6b6b;
}

.hero-content-half {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 12px 32px;
  text-decoration: none;
  display: flex;
}

.hero-content-half.newshalf {
  align-self: flex-start;
  padding-top: 24px;
}

.wordfromceocontent {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.authorsignature {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
}

.ceoimage {
  object-fit: cover;
  width: 50%;
  height: auto;
}

.ceoimage.hp-ceoimage {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: 50% 0%;
  width: 160px;
}

.ceoname {
  margin-bottom: 0;
  font-size: 16px;
}

.ceoname.my-0 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100%;
}

.ceotitle {
  margin-top: 0;
  font-size: 14px;
  font-weight: 300;
}

.ceotitle.my-0 {
  margin-bottom: 0;
  line-height: 100%;
}

.wordfromceotitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
}

.bggradientcolor {
  background-image: linear-gradient(270deg, #1d2f47, #4773ad), linear-gradient(#1d2f47, #4773ad);
}

.insights-single-article {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-flow: row;
  flex: 1 0 auto;
  margin-bottom: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.flex-layout {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  display: flex;
}

.flex-layout.y-center {
  align-items: center;
}

.flex-layout.y-center.flex-gap-xs.author {
  padding-top: 12px;
  padding-bottom: 12px;
}

.flex-layout.flex-gap-xs {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.utility-margin-top-2rem {
  margin-top: 2rem;
}

.dropdown-innerlist {
  color: #fff;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  max-width: 350px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 8px #00000059;
}

.dropdown-list {
  background-color: #0000;
  width: auto;
  margin-top: 0;
  margin-left: 0;
  padding: 0 10px 10px;
  overflow: hidden;
}

.dropdownwrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 0;
  display: flex;
  position: relative;
}

.navlink {
  letter-spacing: .3px;
  text-transform: none;
  cursor: pointer;
  align-items: center;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  display: flex;
}

.navlink:hover {
  color: #2193b0;
  text-align: left;
}

.navlink.w--current {
  color: #2193b0;
  text-transform: capitalize;
  padding-left: 20px;
  padding-right: 20px;
}

.navlink.sub {
  color: #333;
  white-space: nowrap;
  flex-wrap: nowrap;
  align-self: stretch;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 20px;
  font-weight: 500;
  display: block;
}

.navlink.sub:hover {
  color: #2193b0;
  text-decoration: none;
}

.navlink.sub.w--current {
  background-color: #d8d4d4;
}

.dropdowncontainer {
  align-items: flex-start;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-left: -10px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  position: absolute;
  top: 100%;
  overflow: hidden;
}

.page-hero-section {
  padding: 0;
}

.page-hero-section.awards {
  background-image: linear-gradient(0deg, #0000008f, #0000), url('../images/awards.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 70vh;
  display: flex;
  overflow: hidden;
}

.page-hero-section.awards.utility-margin-bottom-3rem {
  display: none;
}

.inner-page-hero-section-container {
  background-color: #0000;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.page-inner-hero-image-container {
  width: 50%;
  height: auto;
}

.page-inner-hero-image-container.order-1 {
  order: -1;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.page-inner-hero-image {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  max-width: unset;
  width: 100%;
  height: auto;
  max-height: 80vh;
}

.page-inner-hero-image.cover-align {
  aspect-ratio: 3 / 2;
  object-position: center center;
  width: 100%;
}

.page-inner-hero-image.contain {
  object-fit: contain;
}

.utility-max-width-50 {
  max-width: 50rem;
}

.utility-max-width-50.utility-margin-horizontal-auto.center {
  justify-content: flex-start;
  align-items: flex-start;
}

.utility-margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

.utility-margin-bottom-3rem {
  margin-bottom: 3rem;
}

.blog-content {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex-flow: column;
  display: flex;
}

.sup-title {
  color: var(--secondary);
  margin-top: 0;
  font-family: Scubaoffc, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.pagetitle {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-content-image {
  max-width: 55rem;
  margin: 20px auto;
}

.blog-content-image.center {
  justify-content: center;
  align-items: center;
}

.blog-content-image.expand {
  justify-content: flex-start;
  align-items: center;
}

.blog-content-image---img {
  width: 100%;
  height: auto;
}

.blog-content-image---img.xxs {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 14px;
}

.separetor {
  background-color: #eee;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.expanded-content {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: row;
  align-items: stretch;
  max-width: 60rem;
  margin: 20px auto;
}

.content-style-3 {
  grid-column-gap: 24px;
  background-color: #1d2f47;
  border-radius: 16px;
  flex: 1 0 33%;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 32px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.quotestart {
  object-fit: cover;
  position: absolute;
  top: 12px;
  left: 12px;
}

.content-item-2 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-7 {
  color: #fff;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
}

.albert-einstein {
  color: #fff;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-decoration: none;
}

.quoteend {
  object-fit: cover;
  position: absolute;
  inset: auto 12px 12px auto;
  transform: rotate(180deg);
}

.displaytitle {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: -10px;
  font-family: Trolatext, Georgia, sans-serif;
  font-size: 21vw;
  font-weight: 700;
  line-height: 72%;
  position: absolute;
}

.frame-1000001879 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-1000001892 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-8 {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
}

.newshighlights-section {
  margin-bottom: 20px;
  padding: 0;
}

.newshighlightstitle {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.newshighlightscontent {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.cover-align {
  object-fit: cover;
  object-position: center top;
}

.grid-layout-news-highlights {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.avatar {
  background-color: #f0f0f0;
  border-radius: 100rem;
  width: 6rem;
  height: 6rem;
  position: relative;
  overflow: hidden;
}

.ceohomeimagecontainer {
  flex: 0 auto;
}

.image-award {
  aspect-ratio: 2 / 3;
  object-fit: contain;
  object-position: 50% 50%;
  flex: none;
  width: 300px;
  height: 200px;
}

.sico-pattern-hero {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
}

.a-badge {
  grid-column-gap: 4px;
  background-color: #1f314a0d;
  border-radius: 6px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 10px;
  text-decoration: none;
  display: flex;
}

.badge-text {
  color: #1f314a;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.meet-team {
  color: #000;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.meet-team:hover {
  color: #6b6b6b;
}

.arrow {
  grid-row-gap: 10px;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  padding: 0;
  text-decoration: none;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.author {
  color: #97989f;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.news-halfimg {
  aspect-ratio: 1;
  flex: 0 50%;
}

.m-post-card-grid {
  flex-direction: column;
  flex: 1 0 50%;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 24px 50px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.m-post-card-grid-2 {
  grid-column-gap: 16px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.content-style-4 {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.heading {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.title-style {
  color: #181a2a;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.text-10 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.vector {
  object-fit: cover;
}

.utility-margin-bottom-2rem {
  margin-bottom: 2rem;
}

.general-card-container {
  grid-row-gap: 20px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 70px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.general-card-content-container {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  display: flex;
}

.text-11 {
  color: #000;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

.paragraph-2 {
  color: #000;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  text-decoration: none;
}

.general-cards-row {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  align-items: stretch;
}

.general-card-image {
  aspect-ratio: 2;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.legendddd {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.container-3 {
  width: 100%;
  max-width: 1120px;
  display: flex;
}

.nav-menu {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mh-100 {
  height: 100px;
}

.linkinline {
  display: inline;
}

.h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
}

.newappointmentsimage {
  width: 30%;
  height: auto;
}

.new-appointments-container {
  color: #000;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.new-appointments-container:hover {
  color: #6b6b6b;
}

.short-info {
  grid-column-gap: 20px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.a-author {
  grid-column-gap: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  text-decoration: none;
  display: flex;
}

.image-3, .image-4, .image-5 {
  object-fit: cover;
  border-radius: 28px;
}

.newherosection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.flex-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}

.flex-block-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-start;
  align-items: center;
}

.image-6 {
  width: 30%;
}

.op0 {
  opacity: 0;
}

@media screen and (max-width: 991px) {
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .section.cc-contact {
    padding-left: 0;
    padding-right: 0;
  }

  .primary-button {
    justify-content: center;
  }

  .logo-link.w--current {
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .navigation-item {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .navigation-items {
    color: #0000;
    background-color: #fff;
    flex: 0 auto;
    width: auto;
    padding-left: 24px;
  }

  .navigation {
    padding: 25px 30px;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: #0000;
  }

  .navigation-wrap {
    background-color: #fff;
    margin-right: 0;
    padding: 12px;
  }

  .carrer-headline-wrap {
    width: auto;
  }

  .contact {
    width: auto;
    padding: 30px 50px 40px;
  }

  .contact-headline, .contact-form-wrap {
    width: 100%;
  }

  .grid-layout.tablet-2-column {
    grid-template-columns: 1fr 1fr;
  }

  .utility-link-content-block {
    flex: 1 0 40%;
  }

  .utility-aspect-3x2 {
    width: 100%;
  }

  .utility-margin-bottom-0 {
    margin-bottom: 0;
  }

  .header-style.navigationstyle {
    flex-flow: row;
    padding: 24px;
  }

  .dropdown-innerlist {
    box-shadow: none;
    background-color: #0000;
    align-items: flex-start;
    width: 100%;
    margin-top: 0;
  }

  .dropdown-list {
    box-shadow: none;
    color: #0000;
    margin-top: 0;
    margin-left: 0;
    padding: 5px 0;
  }

  .navlink {
    color: #333;
    flex: 1;
    padding: 10px 15px;
  }

  .navlink:hover {
    color: #2193b0;
    text-decoration: none;
  }

  .navlink.w--current {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
  }

  .navlink.sub {
    color: #333;
    flex: 1;
    padding: 7px 25px;
    font-weight: 300;
    display: block;
  }

  .navlink.sub:hover {
    text-decoration: none;
  }

  .dropdowncontainer {
    color: #000;
    background-color: #f3f3f3;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 20px;
    line-height: 130%;
  }

  blockquote {
    font-size: 18px;
    line-height: 150%;
  }

  .container {
    text-align: left;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .section {
    margin-left: 0;
    margin-right: 0;
  }

  .section.cc-contact {
    padding: 15px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .logo-link {
    padding-left: 0;
  }

  .navigation-items {
    background-color: #fff;
  }

  .navigation {
    padding: 20px 30px;
  }

  .text-field.cc-textarea {
    text-align: left;
  }

  .contact {
    padding-left: 30px;
    padding-right: 30px;
  }

  .contact-form-grid {
    grid-column-gap: 30px;
    grid-template: "."
                   "."
                   "."
                   / 1fr;
  }

  .contact-form {
    flex-direction: column;
    display: flex;
  }

  .contact-form-wrap {
    text-align: left;
  }

  .footer-wrap {
    text-align: center;
    flex-direction: column;
  }

  .webflow-link {
    margin-bottom: 15px;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .grid-layout.desktop-4-column.tablet-2-column.mobile-landscape-1-column.grid-gap-s.insightsgrid {
    grid-column-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .grid-layout.grid-gap-s {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .grid-layout.mobile-landscape-1-column {
    grid-template-columns: 1fr;
  }

  .utility-margin-bottom-0 {
    margin-bottom: 0;
  }

  .hero-content-half {
    order: 1;
  }

  .hero-content-half.newshalf {
    padding-left: 0;
    padding-right: 0;
  }

  .wordfromceocontent {
    justify-content: flex-start;
    align-items: center;
  }

  .ceoimage.hp-ceoimage {
    width: 50%;
  }

  .wordfromceotitle.centers {
    text-align: center;
  }

  .insights-single-article {
    flex-flow: column;
    flex-basis: calc(50% - 10px);
  }

  .utility-margin-top-2rem {
    margin-top: 1rem;
  }

  .dropdown-innerlist {
    max-width: 100%;
  }

  .dropdowncontainer {
    display: none;
  }

  .page-hero-section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .page-hero-section.utility-margin-bottom-3rem {
    margin-left: 0;
    margin-right: 0;
  }

  .inner-page-hero-section-container {
    flex-flow: column;
  }

  .page-inner-hero-image-container {
    width: 100%;
  }

  .page-inner-hero-image {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    width: 100%;
  }

  .page-inner-hero-image.cover-align {
    object-position: center center;
    width: 100%;
    max-height: 40vh;
  }

  .utility-max-width-50.utility-margin-horizontal-auto {
    width: 100%;
  }

  .utility-margin-bottom-3rem {
    margin-bottom: 1.5rem;
  }

  .pagetitle {
    text-align: center;
  }

  .expanded-content {
    flex-flow: column;
  }

  .content-style-3 {
    order: 1;
  }

  .displaytitle {
    font-size: 13vw;
    line-height: 100%;
  }

  .frame-1000001892 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .text-8 {
    text-align: center;
  }

  .newshighlights-section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .image-award {
    aspect-ratio: auto;
    width: auto;
    max-width: 160px;
    height: auto;
  }

  .meet-team {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .utility-margin-bottom-2rem {
    margin-bottom: 1.5rem;
  }

  .general-cards-row {
    flex-flow: column;
  }

  .newappointmentsimage {
    width: 50%;
  }

  .new-appointments-container {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .codeblock {
    width: 100%;
  }

  .centers {
    text-align: center;
  }

  .flex-block-2 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
  }

  .image-6 {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .section {
    padding: 24px;
  }

  .navigation {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-button {
    flex: none;
  }

  .menu-button.w--open {
    flex: none;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .contact {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact-form, .contact-form-wrap, .footer-wrap {
    flex-direction: column;
  }

  .utility-link-content-block {
    flex-basis: 100%;
  }

  .utility-margin-bottom-0 {
    margin-bottom: 0;
  }

  .header-style.navigationstyle {
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 0;
    padding-right: 0;
  }

  .frame-1000001740 {
    flex-flow: column;
    padding-left: 0;
  }

  .text-3 {
    font-size: 16px;
    line-height: 16px;
  }

  .frame-1000001878 {
    position: relative;
  }

  .image {
    width: 100px;
    height: auto;
    padding-bottom: 12px;
  }

  .hero-intro {
    flex-flow: column;
  }

  .hero-content-half {
    padding: 24px;
  }

  .ceoimage.hp-ceoimage {
    width: 100%;
  }

  .dropdownwrapper {
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .navlink.sub {
    color: #fff;
  }

  .dropdowncontainer {
    background-color: #f3f3f31c;
    flex: none;
    width: 100%;
    display: block;
  }

  .avatar {
    margin-bottom: 16px;
  }

  .sico-pattern-hero {
    display: none;
  }

  .meet-team {
    flex-flow: column;
  }

  .author {
    font-size: 12px;
  }

  .m-post-card-grid {
    padding: 12px;
  }

  .general-cards-row {
    flex-flow: column;
  }

  .container-3 {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav-menu {
    background-color: #000;
  }

  .menu-button-2 {
    border: 1px solid #fff;
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #000;
    background-color: #fff;
  }

  .new-appointments-container {
    flex-flow: column;
  }

  .op0 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #w-node-d6a7555a-2226-e49d-73d3-3cfba8d7d17b-47ec809a.w-node-_6575228d-c68a-cd5b-6327-b22ecafc669b-c2f21bf9 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Trolatext';
  src: url('../fonts/TrolaText-Light.woff2') format('woff2'), url('../fonts/TrolaText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trolatext';
  src: url('../fonts/TrolaText-Bold.woff2') format('woff2'), url('../fonts/TrolaText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Scubaoffc';
  src: url('../fonts/ScubaOffc-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Scubaoffc';
  src: url('../fonts/ScubaOffc-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Scubaoffc';
  src: url('../fonts/ScubaOffc-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Scubaoffc';
  src: url('../fonts/ScubaOffc-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}